---
import Decentralized from "components/Illustrations/Decentralized.svelte";
import Layers from "components/Illustrations/Layers.svelte";
import SourceCode from "components/Illustrations/SourceCode.svelte";
import LandingWindow from "components/LandingWindow.svelte";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class="auto-grid grid-lg landing">
	<div class="landing-intro stack">
		<h1 class="header">{t("page.home.title")}</h1>
		<p class="subtitle">{t("page.home.tagline")}</p>
		<div class="row">
			<button class="button accent">{t("page.home.get-started-btn")}</button>
			<button class="button">{t("page.home.about-btn")}</button>
		</div>
	</div>
	<LandingWindow></LandingWindow>
</section>
<article class="feature-section flow">
<h2 class="text-center">Why Hyper Layering?</h2>
	<section class="auto-grid">
		<article class="card stack text-center">
			<Decentralized className="image"></Decentralized>
			<h3 class="title">Decentralized</h3>
			<p class="body">In HLA, Mapping layers are built as self-contained web applications.</p>
		</article>
		<article class="card stack text-center">
			<Layers className="image"></Layers>
			<h3 class="title text-center">Advanced Tiling</h3>
			<p class="body">HLA offers a highly performant tiling system, able to handle large scale mapping data with ease.</p>
		</article>
		<article class="card stack text-center">
			<SourceCode className="image"></SourceCode>
			<h3 class="title text-center">Open Source</h3>
			<p class="body">HLA is a fully open-source project that is actively maintained and has been used by enterprises for 15+ years.</p>
		</article>
	</section>
</article>

<style>

	.landing {
		min-height: calc(100vh - calc(var(--space-sm) * 2 + var(--header-height)));
		
		.landing-intro {
			justify-content: center;
			min-height: 30vh;
		}

		.header {
			text-align: left;
			font-size: var(--text-4xl);
		}

		.subtitle {
			font-size: var(--text-lg);
		}

	}

	.feature-section {
		margin: var(--space-md) auto;
		--min-col-size: 200px;
		max-width: max(var(--paragraph-width), 60vw);
	}

</style>

