---
import Decentralized from "components/Illustrations/Decentralized.svelte";
import Layers from "components/Illustrations/Layers.svelte";
import SourceCode from "components/Illustrations/SourceCode.svelte";
// import LandingWindow from "components/LandingWindow.svelte"; -- temporarily removed
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<main>
	<section class="auto-grid grid-lg landing">
		<div class="landing-intro stack">
			<h1 class="header">{t("page.home.title")}</h1>
			<p class="subtitle">{t("page.home.tagline")}</p>
			<div class="row">
				<button class="button accent">{t("page.home.get-started-btn")}</button>
				<button class="button">{t("page.home.about-btn")}</button>
			</div>
		</div>
	</section>
	<article class="feature-section flow">
		<h2 class="text-center">{t("page.home.features.title")}</h2>
		<section class="auto-grid">
			<article class="card stack text-center">
				<Decentralized className="image"></Decentralized>
				<h3 class="title">{t("page.home.features.decentralized.title")}</h3>
				<p class="body">{t("page.home.features.decentralized.body")}</p>
			</article>
			<article class="card stack text-center">
				<Layers className="image"></Layers>
				<h3 class="title text-center">{t("page.home.features.tiling.title")}</h3>
				<p class="body">{t("page.home.features.tiling.body")}</p>
			</article>
			<article class="card stack text-center">
				<SourceCode className="image"></SourceCode>
				<h3 class="title text-center">{t("page.home.features.open-source.title")}</h3>
				<p class="body">{t("page.home.features.open-source.body")}</p>
			</article>
		</section>
	</article>
</main>

<style>
	.landing {
		min-height: calc(100vh - calc(var(--space-sm) * 2 + var(--header-height)));
		background-image: 
			radial-gradient(circle at 100% 50%, oklch(from var(--green) l c h / 0.5)  0%, transparent 50%),
			radial-gradient(circle at 50% 90%, oklch(from var(--blue) l c h / 0.5)  0%, transparent 50%),
			radial-gradient(circle at 100% 100%, oklch(from var(--purple) l c h / 0.5) 0%, transparent 25%),
			radial-gradient(circle at 25% 50%, var(--bg-primary) 0%, transparent 100%);
		background-blend-mode: hue;
		
		.landing-intro {
			justify-content: center;
			align-items: center;
			min-height: 30vh;
			max-width: var(--paragraph-width);
			margin: auto;
		}

		.header {
			font-size: var(--text-4xl);
		}

		.subtitle {
			font-size: var(--text-lg);
			margin-bottom: var(--space-sm);
		}
	}

	.feature-section {
		margin: var(--space-md) auto;
		--min-col-size: 200px;
		max-width: max(var(--paragraph-width), 60vw);
	}
</style>

