---
import LandingWindow from "../components/LandingWindow.svelte";
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
	<section class="landing">
		<div class="landing-intro">
			<h1 class="header">Hyper Layering</h1>
			<p class="subtitle">Client-centric, de-centralized web mapping</p>
			<div class="intro-btn-group">
				<button class="button accent">Get Started</button>
				<button class="button">About the project</button>
			</div>
		</div>
		<LandingWindow></LandingWindow>
	</section>
		<!-- Omitted temporarily 
			TODO: add more homepage content
		<section>
			<h2 class="section-header">Decentralized</h2>
			<p class="section-blurb">Layers are created as self-contained web applications</p>
		</section>
		<section>
			<h2 class="section-header">Build</h2>
			<p class="section-blurb">Layers are created as self-contained web applications</p>
		</section>
		-->
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: var(--space-lg);
	}

	.landing {
		position: relative;
		display: flex;
		flex-direction: row;
		height: calc(100vh - calc(var(--space-sm) * 2 + var(--header-height)));
		gap: var(--space-xl);

		.header {
			text-align: left;
		}

		.subtitle {
			font-size: var(--text-lg);
			margin-bottom: var(--space-sm);
		}

		.landing-intro {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

	}

	.intro-btn-group {
		display: flex;
		gap: var(--space-xs);
	}

</style>

