---
import LandingWindow from "components/LandingWindow.svelte";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class="landing">
	<div class="landing-intro">
		<h1 class="header">{t("page.home.title")}</h1>
		<p class="subtitle">{t("page.home.tagline")}</p>
		<div class="row">
			<button class="button accent">{t("page.home.get-started-btn")}</button>
			<button class="button">{t("page.home.about-btn")}</button>
		</div>
	</div>
	<LandingWindow></LandingWindow>
</section>
		<!-- Omitted temporarily 
			TODO: add more homepage content
		<section>
			<h2 class="section-header">Decentralized</h2>
			<p class="section-blurb">Layers are created as self-contained web applications</p>
		</section>
		<section>
			<h2 class="section-header">Build</h2>
			<p class="section-blurb">Layers are created as self-contained web applications</p>
		</section>
		-->

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: var(--space-lg);
	}

	.landing {
		position: relative;
		display: flex;
		flex-direction: row;
		height: calc(100vh - calc(var(--space-sm) * 2 + var(--header-height)));
		gap: var(--space-xl);

		.header {
			text-align: left;
		}

		.subtitle {
			font-size: var(--text-lg);
			margin-bottom: var(--space-sm);
		}

		.landing-intro {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

	}
</style>

