---
import { getCollection, render } from "astro:content";
import BaseLayout from "layouts/BaseLayout.astro";
export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<BaseLayout pageTitle={ `Blog - ${post.data.title}` }>
  <main>
    <article class="layout stack">
      <section class="stack header-section">
        <small><a href="/blog">blog</a>&nbsp;/&nbsp;{post.id}</small>
        <h1 class="title">{post.data.title}</h1>
        <div>
          <span>{post.data.author}</span>
          &nbsp;&mdash;&nbsp;
          <span>{post.data.pubDate.toLocaleString("en-GB", { dateStyle: "short" })}</span>
        </div>
        <hr>
      </section>
      <section class="content flow">
        <Content></Content>
      </section>
    </article>
  </main>
</BaseLayout>

<style scoped>
    .header-section {
      text-align: center;
      margin-bottom: var(--space-md);
    }

</style>