---
import { getCollection } from "astro:content";
import BaseLayout from "layouts/BaseLayout.astro";

const blogPosts = await getCollection("blog");
---
<BaseLayout title="Blog">
	<h1>Blog</h1>
	<ul>
		{
			blogPosts.map((post) => (<a href=""><li>{post.data.title}</li></a>))	
		}
	</ul>
</BaseLayout>