---
import { getCollection } from "astro:content";
import BlogPostCard from "components/BlogPostCard.svelte";
import BaseLayout from "layouts/BaseLayout.astro";

const blogPosts = await getCollection("blog");
---
<BaseLayout title="Blog">
	<article class="blog-post-list-wrapper">
		<h1>Blog</h1>
		<section class="stack stack--md blog-post-list">
			{
				blogPosts.map((post) => (
				<BlogPostCard 
					title={post.data.title} 
					date={post.data.pubDate}
					author={post.data.author}
					url={`/blog/${post.id}`}
				/>
				))
			}
		</section>
	</article>
</BaseLayout>

<style>
	.blog-post-list-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.blog-post-list {
		max-width: var(--paragraph-width);
	}
</style>