@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");
@import "./variables.css";

:root {
	font-family: "Archivo", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

html {
	color-scheme: light dark;
	color: var(--text-main);
	background-color: var(--bg-primary);
}

html:has([value="light"]:checked) {
	color-scheme: light;
}

html:has([value="dark"]:checked) {
	color-scheme: dark;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* ==== Base Styling ====  */

h1 {
	text-align: center;
	font-width: 125%;
	font-stretch: 125%;
}

.content-main {
	padding: var(--spacing-sm) var(--spacing-md);
	padding-top: calc(var(--spacing-sm) + var(--header-sizing));
}

button:not([button-type="icon-wrapper"]) {
	background-color: var(--bg-tertiary);
	color: var(--text-main);
	/* Base button styling */
	border-radius: var(--rounding-lg);
	padding: var(--spacing-xs) var(--spacing-sm);
	border: 2px solid var(--text-main);
	font-weight: bold;
	cursor: pointer;
	max-width: fit-content;
	transition: box-shadow 200ms;
}

button:not([button-type="icon-wrapper"]):hover {
	outline: 1px solid var(--text-main);
	box-shadow: 0 5px 10px oklch(from var(--mid-grey) l c h / 0.5);
}

button[button-type="accent"] {
	background-color: var(--accent);
	color: var(--accent-text);
}

button[button-type="icon-wrapper"] {
	background-color: transparent;
	color: var(--text-main);
	border-radius: 0;
	padding: 0;
	border: none;
	font-weight: bold;
	cursor: pointer;
	max-width: fit-content;
	transition: box-shadow 200ms;
}

button[button-type="icon-wrapper"]:hover {
	color: var(--text-tertiary);
}
