@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');
@import "./variables.css";

html {
	color-scheme: light dark;
	color: var(--text-main);
	background-color: var(--bg-primary);
	scrollbar-gutter: stable;
}

html:has([value="light"]:checked) {
	color-scheme: light;
}

html:has([value="dark"]:checked) {
	color-scheme: dark;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

html {
	block-size: 100%;
	font-family: "Archivo", sans-serif;
	&:lang(ja) {
		font-family: "M PLUS 2", "Archivo", sans-serif;
	}
}

body {
	margin: 0;
	display: grid;
	min-block-size: 100svh;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1 {
	text-align: center;
	font-width: var(--font-wide);
	font-stretch: var(--font-wide);
	font-size: var(--text-3xl);
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -0.03em;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: var(--text-2xl);
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.02em;
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
}

h3 {
	font-size: var(--text-xl);
	font-weight: 600;
	line-height: 1.3;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

small,
.text-sm {
	font-size: var(--text-sm);
}

hr {
	border: solid 0.5px var(--bg-tertiary);
	margin-top: var(--space-xs);
	margin-bottom: var(--space-xs);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}			

p,
li {
	max-width: var(--paragraph-width);
}

p:not(li p) {
	margin-bottom: 1.5em;
}

.font-wide {
	font-width: var(--font-wide);
	font-stretch: var(--font-wide);
}

.content-main {
	padding: var(--space-sm) var(--space-md);
}

.stack {
	--stack-gap: var(--space-xs);
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap);

	&[class*="stack--md"] {
		--stack-gap: var(--space-md);
	}
}

.row {
	--gap: var(--space-xs);
	--justify: start;
	display: flex;
	flex-direction: row;
	justify-content: var(--start);
	gap: var(--gap);

	&.row--even-space {
		--justify: space-evenly;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: var(--space-sm);
	row-gap: var(--space-sm);
}

.auto-grid {
	--min-col-size: 300px;
	display: grid;
	gap: var(--space-sm);
	grid-template-columns: repeat(
			auto-fit,
			minmax(min(var(--min-col-size, 100%)), 1fr)
		);
}

.card {
	--card-color: var(--bg-secondary);
	padding: var(--space-sm);
	border-radius: var(--round-sm);
	height: auto;
	color: var(--text-secondary);
	background-color: var(--card-color);
	border: solid 1px var(--bg-tertiary);

	&[clickable="true"] {
		cursor: pointer;
		transition: background-color var(--timing-normal) ease-out;
		
		&:hover {
			background-color: oklch(from var(--card-color) l c h / 0.5);
			outline: solid 2px var(--bg-tertiary);
		}
	}

	.title {
		font-size: var(--text-lg);
		font-weight: 700;
		color: var(--text-main);
	}

	.image {
		border-radius: var(--round-sm);
		border: solid 1px oklch(from var(--card-color) l c h);
	}

	a > & {
		min-height: 100%; /* TODO: not crazy about this, should be refactored later */
	}
}

.button {
	--button-color: var(--bg-tertiary);
	--text-color: var(--text-main);

	background-color: var(--button-color);
	color: var(--text-color);

	/* Base button styling */
	border-radius: var(--round-lg);
	padding: var(--space-xs) var(--space-sm);
	border: 2px solid var(--text-main);
	font-weight: bold;
	cursor: pointer;
	max-width: fit-content;
	transition: box-shadow var(--timing-normal);

	&:hover {
		outline: 1px solid var(--text-main);
		box-shadow: 0 5px 10px oklch(from var(--mid-grey) l c h / 0.5);
	}

	&.accent {
		--button-color: var(--accent);
		--text-color: var(--accent-text);
	}
}

.icon-wrapper {
	background-color: transparent;
	color: var(--text-main);
	border-radius: 0;
	padding: 0;
	border: none;
	font-weight: bold;
	cursor: pointer;
	max-width: fit-content;
	transition: box-shadow var(--timing-normal);

	&:hover {
		color: var(--text-tertiary);
	}
}

.article {
	max-width: min(96ch);
}
