@import "./variables.css";

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	*:not(dialog) {
		margin: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	html {
		color-scheme: light dark;
		font-size: var(--font-base);
		color: var(--text-secondary);
		background-color: var(--bg-primary);
		scrollbar-gutter: stable;
		block-size: 100%;
		font-family: "Archivo", sans-serif;
		&:lang(ja) {
			font-family: "Archivo", "Zen Kaku Gothic New", sans-serif;
		}
	}

	html:has([value="light"]:checked) {
		color-scheme: light;
	}

	html:has([value="dark"]:checked) {
		color-scheme: dark;
	}

	body {
		margin: 0;
		min-block-size: 100svh;
		display: grid;
		grid-template-rows: auto 1fr auto;
		line-height: 1.6;
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	p {
		text-wrap: pretty;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		color: var(--text-main);
	}

	h1 {
		text-align: center;
		font-width: var(--font-wide);
		font-stretch: var(--font-wide);
		font-size: var(--font-3xl);
		font-weight: 700;
		line-height: 1.1;
		letter-spacing: -0.03em;
	}

	h2 {
		font-size: var(--font-2xl);
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -0.02em;
		margin-bottom: 0.75rem;
	}

	h3 {
		font-size: var(--font-xl);
		font-weight: 600;
		line-height: 1.3;
	}

	small,
	.text-sm {
		font-size: var(--font-sm);
	}

	hr {
		border: solid 0.5px var(--bg-tertiary);
		margin-top: var(--space-xs);
		margin-bottom: var(--space-xs);
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	p,
	li,
	dl {
		max-width: var(--paragraph-width);
	}

	[role="region"][aria-labelledby][tabindex] {
		overflow: auto;
	}

	[role="region"][aria-labelledby][tabindex]:focus {
		outline: 0.1em solid rgba(0, 0, 0, 0.1);
	}

	table {
		border-collapse: collapse;
		border-spacing: 2px;
		width: max(var(--paragraph-width), 100%);
		table-layout: fixed;
	}

	thead {
		border-block-end: 2px solid;
		background-color: var(--bg-secondary);
	}

	tfoot {
		border-block-end: 2px solid;
		background-color: var(--bg-secondary);
	}

	th,
	caption {
		text-align: start;
	}

	thead th:not(:first-child),
	td {
		text-align: end;
	}

	a {
		--_link-color: var(--link-color, var(--text-main));
		color: var(--_link-color);
		text-decoration-color: inherit;
		transition-property: text-decoration-color;
		transition-duration: var(--timing-fast);


		&:hover {
			text-decoration-color: var(--accent);	
		}
	}
}

/* === UTILITIES === */

.font-wide {
	font-width: var(--font-wide);
	font-stretch: var(--font-wide);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.link-unstyled {
	color: inherit;
	text-decoration: none;
}

.skip-link {
	display: inline-block;
	padding: var(--space-xs) var(--space-sm);
	background: var(--color-light);
	color: var(--text);
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 1rem;
	left: 1rem;
}

/* === LAYOUTS === */

.flow {
	--_flow-space: var(--flow-space, var(--space-md));

	& > * + * {
		margin-top: var(--_flow-space, 1em);
	}

	&.flow--dense {
		--flow-space: var(--space-sm);
	}

	img {
		max-width: 66%;
		margin: var(--_flow-space, 1em) auto;
	}

	&.flow--dense {
		--flow-space: var(--space-sm);
	}
}

.stack {
	--_stack-gap: var(--stack-gap, var(--space-xs));
	display: flex;
	flex-direction: column;
	gap: var(--_stack-gap);

	&[class*="stack--sm"] {
		--_stack-gap: var(--space-sm);
	}

	&[class*="stack--md"] {
		--_stack-gap: var(--space-md);
	}
}

.row {
	--_gap: var(--gap, var(--space-xs));
	--_row-justify: var(--row-justify, start);
	display: flex;
	flex-direction: row;
	justify-content: var(--_row-justify);
	gap: var(--_gap);

	&.row--even-space {
		--_row-justify: space-evenly;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: var(--space-sm);
	row-gap: var(--space-sm);
}

.auto-grid {
	--_min-col-size: var(--min-col-size, 300px);
	display: grid;
	gap: var(--space-sm, 1rem);
	grid-template-columns: repeat(
			var(--grid-type, auto-fit),
			minmax(min(var(--_min-col-size), 100%), 1fr)
		);
	container-type: inline-size;
}

.layout {
	margin: var(--space-md) auto;
	margin-inline: max(var(--space-sm), 50% - calc(var(--paragraph-width) / 2));
}

/* TODO: refactor */
.layout--wide {
	margin: var(--space-md) auto;
	margin-inline: max(var(--space-sm), 50% - calc(var(--paragraph-width) / 1.5));
}

.layout--max {
	margin: var(--space-md) auto;
	margin-inline: var(--space-sm);
}

/* === BLOCKS/COMPONENTS === */

.card {
	--_card-color: var(--card-color, var(--bg-secondary));
	--_border-color: var(--border-color, var(--bg-tertiary));
	padding: var(--space-sm);
	border-radius: var(--round-sm);
	height: auto;
	color: var(--text-secondary);
	background-color: var(--_card-color);
	border: solid 1px var(--_border-color);

	&[clickable="true"] {
		cursor: pointer;
		transition-property: background-color, outline;
		transition-behavior: allow-discrete;
		transition-duration: var(--timing-fast);
		outline: 0px solid var(--_border-color);

		&:hover,
		&:focus-within {
			background-color: oklch(from var(--_card-color) l c h / 0.5);
			outline: 2px solid var(--_border-color);

			@starting-style {
				outline: 0px solid var(--_border-color);
			}
		}
	}

	.title {
		font-size: var(--font-lg);
		font-weight: 700;
		color: var(--text-main);
	}

	.body {
		color: var(--text-secondary);
	}

	.details {
		color: var(--text-tertiary);
		font-size: var(--font-sm);
	}

	.image {
		min-width: 100%;
		border-radius: var(--round-sm);
		border: solid 1px oklch(from var(--_card-color) l c h);
	}

	a > & {
		min-height: 100%; /* TODO: not crazy about this, should be refactored later */
	}
}

.button {
	--button-color: var(--bg-tertiary);
	--text-color: var(--text-main);
	--hover-color: oklch(from var(--button-color) l c h / 0.8);

	background-color: var(--button-color);
	color: var(--text-color);

	/* Base button styling */
	border-radius: var(--round-lg);
	padding: var(--space-xs) var(--space-sm);
	outline: 2px solid var(--text-main);
	outline-offset: -1.5px;
	box-shadow: none;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	min-width: fit-content;
	transition: all var(--timing-fastest) ease-in;
	transition-behavior: allow-discrete;

	&:hover {
		outline-width: 3px;
		box-shadow: 0 0 10px oklch(from var(--text-tertiary) l c h / 0.5);
		background-color: var(--hover-color);
	}

	&.accent {
		--button-color: var(--accent);
		--text-color: var(--accent-text);
	}
}

.icon-wrapper {
	height: fit-content;
	width: fit-content;
	background-color: transparent;
	color: var(--text-main);
	border-radius: 0;
	padding: 0;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: all var(--timing-fastest);

	&:hover {
		color: var(--text-tertiary);
	}
}

.inline {
	display: inline;
}

/* === ANIMATIONS === */

@keyframes fade-slide-in {
	from {
		opacity: 0;
		transform: translateY(calc(var(--space-md)));
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-slide-in {
	--_timing: var(--timing, var(--timing-slow));
	--_delay: var(--delay, 0ms);
	animation: var(--_timing) ease-out var(--_delay) fade-slide-in;
	animation-fill-mode: both;
}

.fade-in {
	--_timing: var(--timing, var(--timing-slow));
	--_delay: var(--delay, 0ms);
	animation: var(--_timing) ease-out var(--_delay) fade-in;
	animation-fill-mode: both;
}
