/* Custom CSS applied directly to starlight -- overriding default values */
@import "./variables.css";

/* Dark mode colors. */
:root {
	--sl-color-accent-low: oklch(from var(--accent) calc(l - 0.3) c h);
	--sl-color-accent: var(--accent);
	--sl-color-accent-high: oklch(from var(--accent) calc(l + 0.3) c h);
	--sl-color-white: var(--white);
	--sl-color-gray-1: var(--off-white);
	--sl-color-gray-2: var(--off-white);
	--sl-color-gray-3: var(--light-grey);
	--sl-color-gray-4: var(--light-grey);
	--sl-color-gray-5: var(--mid-grey);
	--sl-color-gray-6: var(--dark-grey);
	--sl-color-black: var(--black);

	--sl-font: "Archivo", "Zen Kaku Gothic New", sans-serif;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: oklch(from var(--sl-color-accent) calc(l + 0.3) c h);
	--sl-color-accent: oklch(from var(--accent) calc(l - 0.3) c h);
	--sl-color-accent-high: oklch(from var(--sl-color-accent) calc(l - 0.3) c h);
	--sl-color-white: var(--black);
	--sl-color-gray-1: var(--dark-grey);
	--sl-color-gray-2: var(--mid-grey);
	--sl-color-gray-3: var(--light-grey);
	--sl-color-gray-4: var(--light-grey);
	--sl-color-gray-5: var(--off-white);
	--sl-color-gray-6: var(--off-white);
	--sl-color-gray-7: var(--white);
	--sl-color-black: var(--white);
}

.site-title {
	font-width: var(--font-wide);
	font-stretch: var(--font-wide);
	font-size: var(--text-xl);
	gap: var(--space-sm);
}
