/* Custom CSS applied directly to starlight -- overriding default values */


/* Dark mode colors. */
:root {
	--sl-color-accent-low: #41130b;
	--sl-color-accent: #c22000;
	--sl-color-accent-high: #f5b8ab;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #edeeee;
	--sl-color-gray-2: #c1c2c2;
	--sl-color-gray-3: var(--mid-white);
	--sl-color-gray-4: var(--light-grey);
	--sl-color-gray-5: var(--mid-grey);
	--sl-color-gray-6: var(--dark-grey);
	--sl-color-black: var(--black);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f9cac0;
	--sl-color-accent: #c52100;
	--sl-color-accent-high: #5e1206;
	--sl-color-white: #181818;
	--sl-color-gray-1: #262727;
	--sl-color-gray-2: #373838;
	--sl-color-gray-3: #575858;
	--sl-color-gray-4: #8b8c8c;
	--sl-color-gray-5: #c1c2c2;
	--sl-color-gray-6: #edeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}