:root {
	--header-height: 68px;

	/* ==== Colors ==== */
	--black: oklch(0.2 0.0165 255.31);
	--dark-grey: oklch(0.25 0.0165 255.31);
	--mid-grey: oklch(0.4 0.0165 255.31);
	--light-grey: oklch(0.7 0 0);
	--off-white: oklch(0.9 0 0);
	--white: oklch(0.95 0 0);
	--accent: oklch(0.75 0.13 121.51);
	--accent-text: var(--dark-grey);

	--text-main: light-dark(var(--black), var(--white));
	--text-secondary: light-dark(var(--dark-grey), var(--off-white));
	--text-tertiary: light-dark(var(--mid-grey), var(--light-grey));
	--accent-pair-text: var(--black);
	--bg-primary: light-dark(var(--white), var(--black));
	--bg-secondary: light-dark(var(--off-white), var(--dark-grey));
	--bg-tertiary: light-dark(var(--light-grey), var(--mid-grey));

	/* ==== Spacing ==== */

	--spacing-xs: 0.5rem;
	--spacing-sm: 1rem;
	--spacing-md: 2rem;
	--spacing-lg: 4rem;
	--spacing-xl: 10rem;

	--rounding-sm: 0.5rem;
	--rounding-md: 1rem;
	--rounding-lg: 2rem;
	--rounding-full: 100%;

	/* ==== Typography ==== */
}
