:root {
	--header-height: 68px;

	/* ==== Base Colors ==== */
	--black: oklch(0.2 0.0165 255.31);
	--dark-grey: oklch(0.25 0.0165 255.31);
	--mid-grey: oklch(0.4 0.0165 255.31);
	--light-grey: oklch(0.7 0 0);
	--off-white: oklch(0.9 0 0);
	--white: oklch(0.95 0 0);
	--blue: oklch(60% 0.09615 252.372);
	--purple: oklch(60.079% 0.17515 325.529);
	--green: oklch(0.75 0.13 121.51);
	--accent: var(--green);
	--accent-text: var(--dark-grey);
	

	/* ==== UI Colors ==== */
	--text-main: light-dark(var(--black), var(--white));
	--text-secondary: light-dark(var(--dark-grey), var(--off-white));
	--text-tertiary: light-dark(var(--mid-grey), var(--light-grey));
	--accent-pair-text: var(--black);
	--bg-primary: light-dark(var(--white), var(--black));
	--bg-secondary: light-dark(var(--off-white), var(--dark-grey));
	--bg-tertiary: light-dark(var(--light-grey), var(--mid-grey));

	/* ==== Spacing ==== */
	--space-xs: 0.25rem;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 4rem;
	--space-xl: 10rem;

	--round-xs: 0.25rem;
	--round-sm: 0.5rem;
	--round-md: 1rem;
	--round-lg: 2rem;
	--round-full: 100%;

	/* ==== Typography ==== */
	--text-sm: clamp(0.8rem, 0.75rem + 0.25vw, 0.875rem);
	--text-base: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
	--text-lg: clamp(1.125rem, 1rem + 0.75vw, 1.375rem);
	--text-xl: clamp(1.25rem, 0.9rem + 1.5vw, 1.75rem);
	--text-2xl: clamp(1.5rem, 1rem + 2vw, 2.25rem);
	--text-3xl: clamp(1.875rem, 1rem + 3vw, 3rem);
	--text-4xl: clamp(2.25rem, 1rem + 4vw, 4rem);
	--text-5xl: clamp(4.25rem, 1rem + 6vw, 6rem);
	--paragraph-width: 90ch;
	--heading-width: 100ch;
	--font-wide: 125%;

	/* ==== Timing ==== */
	--timing-fast: 200ms;
	--timing-normal: 500ms;
}
