---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "i18n/utils";
import BaseLayout from "layouts/BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<BaseLayout>
    <article class="not-found-page stack">
        <h1>{t("page.404.title")}</h1>
        <p>{t("page.404.subtitle")}</p>
        <a href={getRelativeLocaleUrl(lang, "/")}><button class="button">{t("page.404.return-btn")}</button></a>
    </article>
</BaseLayout>

<style>
    .not-found-page {
        align-items: center;
        justify-content: center;
        height: 100%;
        h1 {
            font-size: var(--text-5xl);
        }
        p {
            font-size: var(--text-lg);
        }
    }
</style>