---
import BaseLayout from '../layouts/BaseLayout.astro';
import LandingWindow from "../components/LandingWindow.svelte";
---

<BaseLayout>
	<main>
		<h1>Client-centric, de-centralized web mapping</h1>
		<button>Get Started</button>
		<LandingWindow></LandingWindow>
	</main>
</BaseLayout>

<style>

</style>

