---
import LandingWindow from "../components/LandingWindow.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="landing">
		<div class="landing-intro">
			<h1 class="landing-header">Hyper Layering</h1>
			<p class="landing-subtitle">Client-centric, de-centralized web mapping</p>
			<div class="intro-btn-group">
				<button button-type="accent">Get Started</button>
				<button>About the project</button>
			</div>
		</div>
		<LandingWindow></LandingWindow>
	</section>
		<!-- Omitted temporarily 
			TODO: add more homepage content
		<section>
			<h2 class="section-header">Decentralized</h2>
			<p class="section-blurb">Layers are created as self-contained web applications</p>
		</section>
		<section>
			<h2 class="section-header">Build</h2>
			<p class="section-blurb">Layers are created as self-contained web applications</p>
		</section>
		-->
</BaseLayout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-lg);
	}

	.landing-header {
		font-size: 3em;
		text-align: left;
	}

	.section-header {
		font-size: 2.5em;
		text-align: center;
	}

	.section-blurb {
		font-size: large;
		text-align: center;
	}

	.landing-subtitle {
		font-size: x-large;
		margin-bottom: var(--spacing-sm);
	}

	.landing-intro {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.landing {
		position: relative;
		display: flex;
		flex-direction: row;
		height: 70vh;
		gap: var(--spacing-sm);
	}

	.intro-btn-group {
		display: flex;
		gap: var(--spacing-xs);
	}

</style>

